# Ignore environment variable files
server/.env
client/.env

# Node modules
node_modules/
server/node_modules/
client/node_modules/

# Build output
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db